@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


.dash-nav > ul {
    @apply py-2 hover:font-bold 
}

.card {
    @apply bg-white min-w-[80%] md:min-w-[23%]  xl:min-w-[250px]  mb-5 md:ml-2 rounded-2xl px-5 py-4 drop-shadow-xl border-[#E0E0E0] border-2 hover:bg-sky-200 
}